body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: black;
    background-color: Gainsboro;
  }

main {
    padding: 15px;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    background: white;
}

.codeExample{
    white-space: pre-wrap;
}

.resumeTable{
    display: table;
}

.tableRow{
    display: table-row;
}

.tableRow:nth-child(2n) {
    background-color: Cornsilk;
}

.tableCell{
    display: table-cell;
    padding: 5px;
}

.tableCell:first-child{
    text-align: right;
    width: 15%;
}

.titlePhoto{
    max-width: 300px;
}
